body {
font-family: 'Montserrat', sans-serif;
}
.font-weight-medium {
font-weight: 500;
}

.content-secondary {
  width: 25px;
}

.content-secondary2 {
  width: 25px;
  padding-top: -50px;
}

.content2 {
  margin-top: -150px;
}

.w-80 {
  width: 80%;
}

.w-10 {
  width: 5%;
}

.buttonW {
  width: 130px;
}

a:not([href]):not([tabindex]) {
  color: #1768c4;
}

.btn-secondary {
  &.disabled, &:disabled {
    color: #8f8f8f;
    background-color: #e5e5e5;
    border-color: #e5e5e5;
  }
}

.dropdown-menu {
  width: 300px;
  margin-top: -40px;
  margin-left: -2px;
  &:hover {
    color: #fff;
  }
}

.dropdown-item {
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: -5px;
  width: 310px;
  color: #fff;
  &:hover {
    background: #1768c4;
    color: #fff;
  }
}

.rangeslider__fill {
  background-color: #ffca3f !important;
  border: none !important;
}

.rangeslider__handle {
  background-color: #ffca3f !important;
  width: 30px !important;
  height: 30px !important;
  border-radius: 100%;
}

.form-control {
  border-radius: 0rem;
  &::placeholder {
    color: #bdc4c9;
    opacity: 1;
  }
  &:focus {
    box-shadow: 0 0 0 0 #a2a7aa;
    border-color: #a2a7aa;
  }
}

.info {
  cursor: pointer;
}

.blue-color {
  color: #1768c4;
  cursor: pointer;
}

.blue-background {
  background-color: #1768c4;
  cursor: pointer;
}

.green-color {
  color: #00af5c;
  cursor: pointer;
}

.green-background {
  background-color: #00af5c;
  cursor: pointer;
  -webkit-box-shadow: 0px 28px 21px -23px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 28px 21px -23px rgba(0, 0, 0, 0.57);
  box-shadow: 0px 28px 21px -23px rgba(0, 0, 0, 0.57);
}

.blue-color2 {
  color: #0097f5;
  cursor: pointer;
}

.blue-background2 {
  background-color: #0097f5;
  cursor: pointer;
  -webkit-box-shadow: 0px 14px 22px -22px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 14px 22px -22px rgba(0, 0, 0, 0.57);
  box-shadow: 0px 14px 22px -22px rgba(0, 0, 0, 0.57);
}

.yellow-color {
  color: #ffca3f;
  cursor: pointer;
}

.yellow-background {
  background-color: #ffca3f;
  cursor: pointer;
}

.back-color {
  background-color: #f7f7f7;
}

.flink {
  font-size: 13px;
}

.bar-style {
  -webkit-box-shadow: 0px 14px 22px -22px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 14px 22px -22px rgba(0, 0, 0, 0.57);
  box-shadow: 0px 14px 22px -22px rgba(0, 0, 0, 0.57);
}

.bu-style {
  -webkit-box-shadow: 0px 24px 22px -22px rgba(0, 0, 0, 0.87);
  -moz-box-shadow: 0px 24px 22px -22px rgba(0, 0, 0, 0.87);
  box-shadow: 0px 24px 22px -22px rgba(0, 0, 0, 0.87);
}

.bu2-style {
  -webkit-box-shadow: 0px 12px 22px -22px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 12px 0px -22px rgba(0, 0, 0, 0.57);
  box-shadow: 0px 12px 22px -22px rgba(0, 0, 0, 0.97);
}

.box-resign {
  border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  border: 1px solid #1768c4;
}

.page-style {
  margin-top: 60px;
  padding: 70px;
  border-radius: 14px 14px 14px 14px;
  -moz-border-radius: 14px 14px 14px 14px;
  -webkit-border-radius: 14px 14px 14px 14px;
  border: 0px solid #000000;
  -webkit-box-shadow: 0px 14px 22px -17px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 14px 22px -17px rgba(0, 0, 0, 0.57);
  box-shadow: 0px 14px 22px -17px rgba(0, 0, 0, 0.57);
}

.pageLogin-style {
  margin-top: 100px;
  padding: 23px;
  border-radius: 14px 14px 14px 14px;
  -moz-border-radius: 14px 14px 14px 14px;
  -webkit-border-radius: 14px 14px 14px 14px;
  border: 0px solid #000000;
  -webkit-box-shadow: 0px 14px 22px -17px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 14px 22px -17px rgba(0, 0, 0, 0.57);
  box-shadow: 0px 14px 22px -17px rgba(0, 0, 0, 0.57);
}

.square-style {
  -webkit-box-shadow: 0px -3px 16px -2px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px -3px 16px -2px rgba(0, 0, 0, 0.13);
  box-shadow: 0px -3px 16px -2px rgba(0, 0, 0, 0.13);
}

.number-round {
  background-color: #f2f2f2;
  height: 70px;
  width: 70px;
  border-radius: 35px;
}

.border-labels {
  -webkit-box-shadow: 0px -3px 36px -27px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px -3px 36px -27px rgba(0, 0, 0, 0.57);
  box-shadow: 0px -3px 36px -27px rgba(0, 0, 0, 0.57);
}

.paddL10 {
  padding-left: 10px;
}

.padd40 {
  padding: 40px;
}

.circle-text {
  width: 50px;
  font-weight: bold;
  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background: #f2f2f2;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: inset 0px 0px 10px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 0px 10px -3px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 0px 10px -3px rgba(0, 0, 0, 0.75);
  }
  div {
    float: left;
    width: 100%;
    padding-top: 40%;
    line-height: 1em;
    font-size: 25px;
    margin-top: -0.5em;
    text-align: center;
    color: white;
  }
}

.circleA-text {
  width: 50px;
  font-weight: bold;
  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background: #1768c4;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  div {
    float: left;
    width: 100%;
    padding-top: 40%;
    line-height: 1em;
    font-size: 25px;
    margin-top: -0.5em;
    text-align: center;
    color: white;
  }
}

.top4 {
  margin-top: 4px;
}

.top5 {
  margin-top: 5px;
}

.top6 {
  margin-top: 6px;
}

.top15 {
  margin-top: 15px;
}

.top25 {
  margin-top: 25px;
}

.top40 {
  margin-top: 40px;
}

.topminus {
  margin-top: -35px;
}

.footer-style {
  width: 100%;
  height: auto;
  -moz-top-left-radius: 50%;
  -moz-top-right-radius: 50%;
  -webkit-top-left-radius: 50%;
  -webkit-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  background: #5cb85c;
  margin-top: 120px;
  padding: 45px;
  background-color: #f1f0f0;
}

.rangeslider {
  margin: 20px 0;
  position: relative;
  background: #e6e6e6;
  -ms-touch-action: none;
  touch-action: none;
  display: block;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.4);
  .rangeslider__fill {
    display: block;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.4);
  }
  .rangeslider__handle {
    background: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 -1px 3px rgba(0, 0, 0, 0.4);
    .rangeslider__active {
      opacity: 1;
    }
  }
  .rangeslider__handle-tooltip {
    width: 40px;
    height: 40px;
    text-align: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    font-weight: normal;
    font-size: 0px;
    transition: all 100ms ease-in;
    border-radius: 4px;
    display: inline-block;
    color: white;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    span {
      margin-top: 12px;
      display: inline-block;
      line-height: 100%;
      width: 0px;
    }
    &:after {
      content: ' ';
      position: absolute;
      width: 0;
      height: 0;
    }
  }
}

.rangeslider-vertical {
  margin: 65px auto;
  height: 575px;
  max-width: 6px;
  background-color: transparent;
  .rangeslider__fill, .rangeslider__handle {
    position: absolute;
  }
  .rangeslider__fill {
    width: 100%;
    background-color: #7cb342;
    box-shadow: none;
    bottom: 0;
  }
  .rangeslider__handle {
    width: 30px;
    height: 10px;
    left: -12px;
    -webkit-box-shadow: 0px 14px 22px -22px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 14px 22px -22px rgba(0, 0, 0, 0.57);
    box-shadow: 0px 14px 22px -22px rgba(0, 0, 0, 0.57);
  }
  .rangeslider__handle-tooltip {
    left: -100%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 0px;
    &:after {
      border-top: 0px solid transparent;
      border-bottom: 0px solid transparent;
      border-left: 0px solid rgba(0, 0, 0, 0.8);
      left: 100%;
      top: 12px;
    }
  }
}

.rangeslider__labels {
  position: relative;
}

.rangeslider-vertical .rangeslider__labels {
  position: relative;
  list-style-type: none;
  margin: 0 0 0 24px;
  padding: 0;
  text-align: left;
  width: 250px;
  height: 100%;
  left: 10px;
}